html {
	height: 100%;
	position: relative;
}

body {
	margin: 0;
	background-color: #ccc;
	position: relative;
	padding-bottom: 50px;
	height: 100%;
}

.topo_pagina {
	height: 500px;
	background: url(../img/bg-3.jpg);
	background-size: cover;
	background-position: center right;
	box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.77);
}

.conteudo {
	position: relative;
	height: 100%;
}

.topo_pagina ul {
	margin-top: 0;
	padding: 10px;
	text-align: right;
}

.topo_pagina li {
	display: inline-block;
	border: 1px solid white;
	margin-left: 10px;
	border-radius: 10px;
}

.topo_pagina a {
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 10px;
	color: white;
	background-color: rgba(55, 71, 84, 0.9);
	border-radius: 10px;
}

.topo_pagina a:hover {
	background-color: rgba(55, 71, 84, 0.6);
}

.centralizador_topo {
	text-align: center;
	margin-top: 150px;
	color: white;
}

.topo_pagina h1 {
	text-transform: uppercase;
	text-shadow: 2px 2px 2px black;
}

.topo_pagina p {
	text-transform: uppercarse;
	background-color: rgba(0, 0, 0, 0.6);
	display: inline-block;
	padding: 10px;
	border-bottom: 2px solid white;
}

main {
	width: 80%;
	margin: 10px auto;
}

.sec {
	background-color: white;
	overflow: auto;
	margin-top: 15px;
	padding: 10px;
}

.card {
	float: left;
	width: 32%;
	box-sizing: border-box;
}

.card2 {
	margin-right: 2%;
}

.card1 {
	margin-right: 2%;
}

.card p {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	text-transform: uppercase;
	margin: 0;
	height: 30px;
	padding: 10px;
	font-family: sans-serif;
	line-height: 30px;
}

.card img {
	width: 100%;
	display: block;
}

.cabecalho_login {
	background-color: #ccc;
	border-bottom: 2px solid gray;
}

.cabecalho_login h2 {
	margin: 0;
	padding: 10px;
}

footer {
	height: 50px;
	background-color: rgb(55, 71, 84);
	line-height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	color: white;
}